.fundo_filtro {
    /* background-color: whitesmoke; */
    background-color: white;
    padding-bottom: 2vh;
}

.apoio_filtro {
    padding-top: 2vh;
}

.inputs#filtro .input {
    width: 23%;
}

.inputs#filtro .input label {
    font-size: 1.3em;
}

.inputs#filtro .input input {
    width: 100%;
}

.barra_ordem {
    height: 6vh;
}

.barra_ordem h2 {
    color: black;
    margin-bottom: 0;
    font-size: xx-large;
}

#filterBar {
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

.ordenar {
    height: 70%;
    margin: 0 0.5vw;
}

button.ordenar {
    color: var(--laranja);
    background-color: white;
    border: 2px solid var(--laranja);
}

button.ordenarSelected {
    background-color: var(--laranja) !important;
    color: white !important;
}

.ordenar select {
    height: 100%;
    margin-bottom: 0;
}

#closeBar {
    width: 100%;
    height: 20%;
    background-color: var(--cinzaClaro);
}

#btn_close_modal {
    width: auto;
    height: 50%;
}

.first_option {
    margin-left: 0;
}

.last_option {
    margin-right: 0;
}