.bannerHome {
    height: 85vh;
    background-image: url('../img/bannerHome.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6vh 7.8125vw;
}

#tittle_home {
    color: white;
    font-size: 10vw;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

#cadastrarBtn {
    height: 8vh;
    font-size: 1.3em;
    font-weight: 500;
    font-style: italic;
}

.suport_social_info {
    width: 100%;
    height: 75px;
    padding: 10px 0;
    background-color: var(--branco);
}

.social_info {
    width: 10%;
    min-width: fit-content;
    height: 100%;
    margin: 0 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social_info img{
    height: 100%;
    margin-right: 10px;
}

.social_info span {
    color: var(--black);
}