.background_immo {
    padding-top: 7vh;
    background-image: url(../img/bannerHome.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.suport_immo {
    background-color: white;
    margin-bottom: 2vh;
    padding: 20px 50px;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--borda);
}

.suport_immo>section {
    width: 47%;
    height: 100%;
}

#post-tittle {
    margin-bottom: 20px;
}

.form-post {
    width: 100%;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.background_immo_rooms {
    flex-wrap: wrap;
    width: 100%;
    height: 35%;
}

.immo_rooms {
    width: 27%;
    padding: 8px;
}

.immo_rooms input {
    width: 100%;
    height: 25px;
    padding: 0;
    text-align: center;
    margin-top: 5px;
}

#input_terreno div input {
    width: 70%;
    margin-top: 4px;
}

#img_immo_suport {
    height: 45%;
}

.suport_img_immo {
    width: 78%;
    height: 100%;
}

.background_img_immo {
    background-color: var(--cinza);
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.addImg_immo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-height: 200px;
}

.addImg_immo:active {
    transform: scale(0.99);
}

.addImg_immo:hover {
    background-color: var(--cinzaClaro);
}

#btnAprove {
    width: 100%;
    height: 70px;
    color: var(--branco);
    font-weight: 600;
    font-size: 1.8em;
}

.apoio_banner_img {
    width: 100vw;
    max-height: max-content;
}

.apoio_banner_img img {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
}

.info_imovel {
    background-color: var(--cinzaClaro);
    padding: 0 7.8125%;
}

h1#view_item {
    color: var(--preto);
    font-size: 2em;
    font-weight: 600;
    margin: 4vh 0;
}

.desc_suport {
    justify-content: space-between;
    min-height: 200px;
    margin-bottom: 4vh;
}

.apoio_articles {
    width: 42%;
    ;
    flex-wrap: wrap;
    justify-content: space-around;
}

#feature {
    width: 28%;
    margin: 1.1vh 0;
}

#feature span {
    color: black;
}

.bloco_icone span {
    margin-top: 7px;
    margin-left: 4px;
    color: black;
    font-weight: 600;
}

.right_side {
    align-items: flex-end;
    justify-content: center;
    width: 45%;
    min-height: 300px;
}

.suport_span {
    color: black;
    display: flex;
    font-size: 1.4em;
    padding-bottom: 1vh;
    justify-content: flex-end;
    align-items: flex-end;
    height: 25%;
}

#valor_botao {
    width: 80%;
    height: 50%;
    align-items: flex-end;
    margin: 1vh 0;
    justify-content: space-between;
}

#valor_botao span {
    width: 100%;
    color: black;
    font-weight: 800;
    font-size: 2.1em;
}

#valor_botao button {
    width: 100%;
    height: 20%;
    min-height: 90px;
    color: white;
    font-size: 2em;
    font-weight: 700;
    box-shadow: 0 3px 7px -1px var(--sombra);
}

#titulo_lista {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.span_preto {
    color: black;
}

@media (max-width: 1300px) {
    .suport_immo {
        flex-direction: column;
    }

    .suport_immo>section {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .suport_immo {
        padding: 20px 15px;
    }

    .double-input {
        flex-direction: column;
    }

    .double-input>div {
        width: 100%;
    }

    #img_immo_suport{
        flex-direction: column;
        width: 100%;
    }

    .suport_img_immo, .addImg_immo{
        width: 100%;
    }

    .addImg_immo{
        margin-bottom: 10px;
    }

    #btnAprove{
        font-size: 1.25em;
    }
}