.fundo_login {
    background-image: url('../img/bannerHome.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.bloco_login__div {
    height: 85vh;
    margin: 7vh auto;
    background-color: white;
    border-radius: 8px;
}

#logo_login {
    height: 35%;
    width: auto;
}

form#login {
    height: 65%;
}

form#cadastro {
    height: 100%;
}

.inputs_apoio {
    width: 100%;
    height: 58.94538606403014%;
}

.input label {
    font-size: 1.2vw;
    font-weight: 400;
    margin-bottom: 5px;
}

.input input {
    height: 6.5vh;
    border: 2px solid #464646;
    color: #464646;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1.4vw;
    padding-left: 6px;
}

form#login a {
    margin-bottom: 10px;
    color: black;
}

#btnEntrar_login {
    width: 45%;
    height: 4vw;
    min-height: 60px;
    align-items: center;
    color: white;
    font-size: 2.1em;
    font-weight: 600;
}

#btnEntrar_cadastro {
    width: 60%;
    height: 4vw;
    min-height: 60px;
    align-items: center;
    color: white;
    font-size: 2.8em;
    font-weight: 600;
}

@media (max-width: 1600px) {
    .bloco_login__div {
        width: 50%;
    }

    .input label {
        font-size: 2vw;
    }

    .input input {
        font-size: 1.6vw;
    }

    #btnEntrar_cadastro {
        min-height: 55px;
    }
}

@media (max-width: 750px) {
    .bloco_login__div {
        width: 95%;
        height: 75vh;
    }

    #logo_login {
        height: 30%;
    }

    form#login {
        width: 90%;
    }

    .input#login {
        height: 50%;
    }

    .input#login label {
        font-size: medium;
    }

    .input#login input {
        height: 70%;
        padding-left: 10px;
        font-size: larger;
    }

    form#login a {
        font-size: medium;
        margin-top: 3vh;
    }

    #btnEntrar_login{
        font-size: 1.5em;
    }
}

@media (max-height: 400px) {

    .bloco_login__div {
        height: 140vh;
    }
}

/* Exclusivo de cadastro */

.bloco_login__div#cadastro {
    height: 80vh;
}

form#cadastro {
    height: 100%;
    padding: 5vh 0;
}

.inputs_apoio#cadastro {
    height: 85%;
}

#btnEntrar_cadastro {
    width: 40%;
    font-size: 1.5em;
}

.boxInfo#cadastro {
    padding: 3vh 4.5vh;
    margin-bottom: 6vh;
}

.boxInfo#cadastro h2 {
    font-weight: 500;
    font-size: 2em;
    color: black;
    margin-bottom: 12px;
}

.boxInfo#cadastro p {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

@media (max-width: 750px) {

    .bloco_login__div#cadastro {
        height: 72vh;
        padding: none;
    }

    form#cadastro {
        width: 90%;
    }

    .inputs_apoio#cadastro {
        height: 85%;
    }

    .input#cadastro {
        height: 23%;
    }

    .input#cadastro label {
        font-size: medium;
    }

    .input#cadastro input {
        font-size: medium;
        padding-left: 4%;
    }

    #btnEntrar_cadastro {
        width: 80%;
        font-size: x-large;
    }

    .boxInfo#cadastro {
        padding: 4vh 9vw;
    }

    .boxInfo#cadastro h2 {
        font-size: x-large;
        margin-bottom: 18px;
    }

    .boxInfo#cadastro p {
        font-size: medium;
    }
}

@media (max-height: 400px) {
    .bloco_login__div#cadastro {
        height: 130vh;
    }

    .inputs_apoio#cadastro {
        height: 80%;
    }

    .input#cadastro input {
        min-height: 45px;
    }
}