.fundo_login {
    width: 100vw;
    background-image: url('../img/bannerHome.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bloco_login {
    min-height: 75vh;
    margin: 7vh auto;
    padding: 6% 0;
    background-color: white;
    border-radius: var(--borda);
}

#logo_login {
    height: 35%;
    max-height: 200px;
    width: auto;
}

.inputs-apoio {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
}

.button-box-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.button-box-login>a {
    color: black;
    margin-bottom: 5px;
}

.form_login {
    justify-content: space-between;
}

.boxInfo {
    padding: 20px 30px;
    margin-bottom: 30px;
}

.boxInfo p {
    margin-top: 12px;
    color: black;
}