main#catalogo {
    background-color: white;
    min-height: 90vh;
    padding-top: 5vh;
}

.apoio_conteudo_catalogo {
    flex-wrap: wrap;
    justify-content: space-between;
}

.item_conteudo {
    width: 49%;
    min-height: auto;
    background-color: var(--cinzaClaro);
    border-radius: var(--borda);
    margin-bottom: 4vh;
    box-shadow: 0 3px 7px -1px var(--sombra);
}

.item_img {
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: initial;
    border-top-left-radius: var(--borda);
    border-top-right-radius: var(--borda);
}

.item_infos {
    width: 100%;
    min-height: 250px;
    padding: 16px 16px;
}

.apoio_infos {
    width: 100%;
    min-height: 160px;
    justify-content: space-between;
}

.infos_left {
    justify-content: space-between;
    width: 60%;
}

.descricao_imovel {
    margin: 1vh 0;
    flex-wrap: wrap;
}

.labed-img {
    max-width: 48%;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.block-img {
    display: flex;
    align-items: center;
}

.block-img span {
    margin-top: 5px;
}

h2#catalogo {
    font-size: 22px;
}

#span_right span {
    color: var(--preto);
    font-size: 19px;
    font-weight: 500;
    text-align: end;
}

#localizacao {
    margin-top: 1vh;
    text-align: start;
}

.infos_right {
    width: 32%;
    justify-content: flex-end;
    align-items: flex-end;
}

.infos_right>span {
    color: black;
    text-align: end;
}

#valor_catalogo {
    font-size: 1.5em !important;
    margin-bottom: 5px;
}

#botao_vermais {
    width: 100%;
    box-shadow: 0 3px 7px -1px var(--sombra);
}

#botao_vermais a {
    width: 100%;
    height: 100%;
}

#filtrar {
    min-width: 200px;
}

.filtro {
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 400ms;
    background-color: white;
    position: fixed;
    width: 100vw;
    justify-self: center;
    height: 30vh;
    top: -100vh;
    box-shadow: 0 5px 30px 1px var(--sombra);
}

.filtro_visivel {
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 400ms;
    top: 0vh;
}

#background_modal {
    padding: 2vh 0 0 0;
    width: 100%;
    height: 100%;
}

.filtering-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filtering-top>div {
    width: 24%;
}

.background_filter {
    background-color: white;
    padding-bottom: 2vh;
}

.suport_filter {
    padding-top: 2vh;
}

.barra_ordem {
    height: 6vh;
}

.barra_ordem h2 {
    color: black;
    margin-bottom: 0;
    font-size: xx-large;
}

#filterBar {
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

.ordenar {
    height: 70%;
    margin: 0 0.5vw;
}

button.ordenar {
    color: var(--laranja);
    background-color: white;
    border: 2px solid var(--laranja);
}

button.ordenarSelected {
    background-color: var(--laranja) !important;
    color: white !important;
}

.ordenar select {
    height: 100%;
    margin-bottom: 0;
}

#closeBar {
    width: 100%;
    height: 20%;
    background-color: var(--cinzaClaro);
}

#btn_close_modal {
    width: auto;
    height: 50%;
}

.first_option {
    margin-left: 0;
}

.last_option {
    margin-right: 0;
}

@media (max-width: 1000px) {
    .apoio_conteudo_catalogo {
        flex-direction: column;
    }

    .item_conteudo {
        width: 100%;
    }
}

@media (max-width: 800px) {

    .barra_ordem {
        min-height: min-content;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .barra_ordem>h2 {
        font-size: 1.8em;
        margin-bottom: 8px;
    }

    .barra_ordem>button {
        width: 100%;
    }

    #local,
    #valor_catalogo,
    #botao_vermais {
        font-size: 1em !important;
    }
}

@media (max-width: 900px) {

    /* Filter COmponent */
    #filterBar {
        flex-direction: column;
    }

    .filtro {
        min-height: 500px;
        height: 65vh;
    }

    #closeBar {
        height: 10%;
    }

    .filtering-top {
        height: 40%;
        flex-wrap: wrap;
    }

    .filtering-top>.labed-input {
        width: 48%;
    }

    .filtering-top>.labed-input>label {
        font-size: 0.8em;
    }

    #requisitos {
        flex-wrap: wrap;
    }

    #requisitos>div {
        width: 100%;
        max-height: 50px;
        padding: 5px 0;
        margin: 0;
    }

    #ordenar {
        flex-wrap: wrap;
    }

    #ordenar>button {
        width: 48%;
    }
}