header {
    background-color: black;
    height: 12vh;
}

.apoioHeader {
    height: 100%;
}

.apoioHeader a,
nav {
    font-size: 1.05em;
}

.infosLeft {
    height: 100%;
    width: 20vw;
}

#logoPrincipal {
    height: 100%;
    width: auto;
}

.infosCenter__nav {
    height: 100%;
    width: 20vw;
    margin: 0 auto;
}

.infosCenter__nav > a {
    width: 40%;
}

.infosCenter__nav a#aluguel {
    display: flex;
    text-align: flex-end;
    justify-content: flex-end;
}

.linha_vertical#header {
    width: 12%;
    border: 1px solid white;
    rotate: 90deg;
}

.infosRight__nav {
    height: 100%;
    width: 20vw;
    justify-content: flex-end;
}

#botaoEntrar {
    height: 45%;
    font-weight: 600;
    border-radius: var(--borda);
    font-size: 1em;
    padding: 18px 10px;
}

#botaoEntrar:last-child{
    margin-left: 8px;
}

/* Footer */
footer {
    height: 15vh;
    width: 100%;
    background-color: black;
}

.apoio_footer__div {
    height: 92%;
}

.apoio_footer__div>span,
.apoio_footer__div>#logo_footer__Img,
.apoio_footer__div>.apoioCreditos__nav {
    width: 33%;
    color: white;
}

#logo_footer__img {
    height: 100%;
    width: auto;
}

.apoioCreditos__nav {
    display: flex;
    justify-content: flex-end;
}

.apoioCreditos__nav span {
    font-size: 1.2vw;
    margin-right: 7px;
}

#creditos__a {
    font-size: 1.2vw;
}

@media (max-width: 800px) {
    header {
        height: 18vw;
        max-height: 70px;
    }

    .contato__div {
        display: none;
    }

    .infosLeft__div {
        width: fit-content;
    }

    .infosCenter__nav {
        width: 50%;
        max-width: 150px;
        margin: auto;
    }

    .infosCenter__nav > a {
        font-size: medium;
    }

    .infosCenter__nav hr {
        display: none;
    }

    .infosRight__nav {
        width: fit-content;
    }

    #botaoEntrar { 
        height: 65%;
        font-size: medium;
    }

    #cadastrar {
        display: none;
    }

    /* Footer */
    footer {
        height: 20vw;
        max-height: 70px;
        border-top: 1.5px solid white;
    }

    .apoio_footer__div {
        flex-direction: row-reverse;
        width: 70%;
    }

    .apoio_footer__div span {
        text-align: center;
        width: 50%;
        font-size: 0.6em;
    }

    .apoioCreditos__nav {
        display: none;
    }
}