.background_immo {
    padding-top: 7vh;
    background-image: url(../img/bannerHome.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.suport_immo {
    background-color: white;
    margin-bottom: 2vh;
    padding: 20px 50px;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--borda);
}

.suport_immo>section {
    width: 47%;
    height: 100%;
}

#post-tittle {
    margin-bottom: 20px;
}

.form-post {
    width: 100%;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.background_immo_rooms {
    flex-wrap: wrap;
    width: 100%;
    height: 35%;
}

.immo_rooms {
    width: 27%;
    padding: 8px;
}

.immo_rooms input {
    width: 100%;
    height: 25px;
    padding: 0;
    text-align: center;
    margin-top: 5px;
}

#input_terreno div input {
    width: 70%;
    margin-top: 4px;
}

#img_immo_suport {
    height: 45%;
}

.suport_img_immo {
    width: 78%;
    height: 100%;
}

.background_img_immo {
    background-color: var(--cinza);
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.addImg_immo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-height: 200px;
}

.addImg_immo:active {
    transform: scale(0.99);
}

.addImg_immo:hover {
    background-color: var(--cinzaClaro);
}

#btnAprove {
    width: 100%;
    height: 70px;
    color: var(--branco);
    font-weight: 600;
    font-size: 1.8em;
}

.apoio_banner {
    width: 100vw;
}

.apoio_banner img {
    width: 100%;
    height: auto;
    max-height: 750px;
    object-fit: cover;
}

.apoio_articles {
    width: 35%;
    height: 40%;
    min-width: 340px;
    flex-wrap: wrap;
    justify-content: space-around;
}

#feature {
    width: 30%;
    margin: 1.1vh 0;
}

#feature span {
    color: black;
}

.desc-suport {
    width: 100%;
    min-height: 30vh;
    background-color: var(--cinzaClaro);
    padding: 20px 7.8125vw;
}

.titulo-immo{
    color: black;
    font-size: 2em;
    font-weight: 500;
    margin: 3vh 0;
}

.info-cards{
    justify-content: space-between;
}

.left-info-card {
    width: 55%;
}

.block-img span {
    color: var(--preto);
    font-size: 1.3em;
    font-weight: 500;
}

p.desc-immo{
    color: black;
    margin: 20px 0;
}

span#local{
    color: black;
    font-size: 1.2em;
    font-weight: 500;
}

.right-info-card{
    width: 35%;
    background-color: rgb(194, 171, 216);
}

#titulo_lista {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.span_preto {
    color: black;
}

@media (max-width: 1300px) {
    .suport_immo {
        flex-direction: column;
    }

    .suport_immo>section {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .suport_immo {
        padding: 20px 15px;
    }

    .double-input {
        flex-direction: column;
    }

    .double-input>div {
        width: 100%;
    }

    #img_immo_suport {
        flex-direction: column;
        width: 100%;
    }

    .suport_img_immo,
    .addImg_immo {
        width: 100%;
    }

    .addImg_immo {
        margin-bottom: 10px;
    }

    #btnAprove {
        font-size: 1.25em;
    }
}