.background_immo {
    padding-top: 7vh;
    background-image: url(../img/bannerHome.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.suport_immo {
    background-color: white;
    margin-bottom: 2vh;
    padding: 20px 50px;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--borda);
}

.suport_immo>section {
    width: 47%;
    height: 100%;
}

#post-tittle {
    margin-bottom: 20px;
}

.form-post {
    width: 100%;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.background_immo_rooms {
    flex-wrap: wrap;
    width: 100%;
    height: 35%;
}

.immo_rooms {
    width: 27%;
    padding: 8px;
}

.immo_rooms input {
    width: 100%;
    height: 25px;
    padding: 0;
    text-align: center;
    margin-top: 5px;
}

#input_terreno div input {
    width: 70%;
    margin-top: 4px;
}

#img_immo_suport {
    height: 45%;
}

.suport_img_immo {
    width: 78%;
    height: 100%;
}

#imgPrincipal{
    display: none;
}

#moreImgs{
    display: none;
}

.background_img_immo {
    background-color: var(--branco);
    min-height: 200px;
}

.background_img_immo:active {
    transform: scale(0.99);
}

.background_img_immo:hover {
    background-color: var(--cinzaClaro);
}

.background_img_immo>span{
    color: black;
}

.addImg_immo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-height: 200px;
}

.addImg_immo:active {
    transform: scale(0.99);
}

.addImg_immo:hover {
    background-color: var(--cinzaClaro);
}

#btnAprove {
    width: 100%;
    height: 70px;
    color: var(--branco);
    font-weight: 600;
    font-size: 1.8em;
}

.suport-banner {
    max-width: 100vw;
    max-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apoio-banner {
    overflow: hidden;
    cursor: grab;
}

.inner-banner {
    display: flex;
}

.unique-img {
    max-height: 100vh;
    min-width: 95vw;
    padding: 0 5px;
    border-radius: var(--borda);
}

.unique-img:first-child,
.unique-img:last-child {
    padding: 0;
}

.unique-img img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    border-radius: var(--borda);
}

.apoio_articles {
    width: 35%;
    height: 40%;
    min-width: 340px;
    flex-wrap: wrap;
    justify-content: space-around;
}

#feature {
    width: 30%;
    margin: 1.1vh 0;
}

#feature span {
    color: black;
}

.desc-suport {
    width: 100%;
    min-height: 30vh;
    background-color: var(--cinzaClaro);
    padding: 20px 7.8125vw;
}

.titulo-immo {
    color: black;
    font-size: 2em;
    font-weight: 500;
    margin: 3vh 0;
}

.info-cards {
    justify-content: space-between;
}

.left-info-card {
    width: 55%;
}

.block-img span {
    color: var(--preto);
    font-size: 1.3em;
    font-weight: 500;
}

p.desc-immo {
    color: black;
    text-align: justify;
    margin: 20px 0;
}

span#local {
    color: black;
    font-size: 1.2em;
    font-weight: 500;
}

.right-info-card {
    width: 35%;
    justify-content: flex-end;
}

.suport_social_info#viewImmo {
    background-color: var(--cinzaClaro);
}

.suport_social_info#viewImmo>.social_info:hover {
    background-color: antiquewhite;
}

.suport_social_info#viewImmo>div>a {
    font-size: 1.2em;
}

#assign-btn {
    width: 100%;
    min-height: 70px;
    margin-top: 5px;
}

span#price {
    text-align: center;
    color: black;
    font-size: 1.6em;
    width: 100%;
}

#titulo_lista {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.span_preto {
    color: black;
}

@media (max-width: 1300px) {
    .suport_immo {
        flex-direction: column;
    }

    .suport_immo>section {
        width: 100%;
    }

    .desc-suport {
        padding: 30px 3.5vw;
    }

    .info-cards {
        flex-direction: column;
    }

    .left-info-card,
    .right-info-card {
        width: 100%;
    }

    span#price {
        margin-top: 30px;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .suport_immo {
        padding: 20px 15px;
    }

    .double-input {
        flex-direction: column;
    }

    .double-input>div {
        width: 100%;
    }

    #img_immo_suport {
        flex-direction: column;
        width: 100%;
    }

    .background_img_immo{
        margin-bottom: 10px;
    }

    .titulo-immo {
        text-align: justify;
        font-size: 1.2em;
    }

    .suport_img_immo,
    .addImg_immo {
        width: 100%;
    }

    .addImg_immo {
        margin-bottom: 10px;
    }

    #btnAprove {
        font-size: 1.25em;
    }

    span#price {
        font-size: 1.2em;
    }

    .social_info {
        width: 45%;
    }
}