@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,600;1,700&display=swap');

:root {
  --fonteClara: #FFF;
  --laranja: #F46D21;
  --laranjaEscuro: #B55219;
  --branco: #FFF;
  --preto: #000;
  --cinza: #464646;
  --icones: #696868;
  --cinzaClaro: #F4F4F4;
  --sombra: #b0a7a1;
  --corBorda: var(--laranjaEscuro);
  --borda: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

::-webkit-scrollbar {
  display: none;
}

.pressionavel:hover {
  transition: color ease-in-out 190ms;
  color: #F46D21 !important;
}

.hover_cinza:hover {
  transition: 200ms all;
  background-color: var(--cinzaClaro);
  border-radius: 5px;
}

.btnPressionavel {
  background-color: var(--laranja);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--borda);
  border: var(--corBorda);
  font-size: 1.3em;
  font-weight: 600;
}

.btnPressionavel:active {
  transition: all 150ms;
  transform: scale(0.98);
}

span, a, p{
  color: var(--fonteClara);
}

a {
  text-decoration: unset;
}

form {
  width: 85%;
}

input, .masked_input, select {
  min-height: 45px;
  padding-left: 10px;
  border: 2px solid #464646;
  margin-bottom: 10px;
  font-size: 1.2em;
  border-radius: var(--borda);
}

.labed-input{
  display: flex;
  flex-direction: column;
}

.labed-input label{
  margin-bottom: 5px;
}

.double-input > div{
width: 49%;
}

.container {
  width: 84.375%;
  margin: 0 auto;
}

.containerBox {
  min-width: 35vw;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.espacado {
  justify-content: space-between;
}

.centrado {
  justify-content: center;
}

.alinhado {
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.boxInfo {
  background-color: white;
  border-radius: 10px;
}

.body_page {
  background-color: white;
}

@media (max-width: 1100px) {
  .container {
    width: 95vw;
  }

  .containerBox{
    width: 85vw;
  }
}